.banner {
    background-color: black;
    color: white;
    padding-top:15px;
    padding-bottom:15px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.bannerPlatusPlas {
    text-align: left;
    font-size: xx-large;
}

.bannerAbrir {
    text-align: right;
    
}

.bannerGuardar {
    text-align: right;
}

.bannerResumen {
    text-align: right;
}

.bannerImprimir {
    text-align: right;
}

body {
    margin: 0px;
}